#game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.doors {
  display: flex;
  flex-wrap: wrap;
  align-self: stretch;
  justify-content: space-around;
}

.btns a {
  background-color: #c0392c;
  color: #fff;
  font-size: 2rem;
  border: none;
  padding: 10px 25px;
  display: block;
  margin-top: 60px;
}