.present {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.head {
  width: 100px;
  height: 25px;
  background-color: #7aa944;
}

.body {
  width: 90px;
  height: 60px;
  background-color: #5c7e32;
}

.tape {
  position: absolute;
  background-color: red;
}

.vertical.tape {
  width: 15px;
  height: 85px;
}

.horizontal.tape {
  width: 90px;
  height: 15px;
  top: 40px;
}